.box {
    display: flex;
    align-items: center;
    background-color: red;
    height: 10vh;
    margin: 1rem;
}

.box span {
    font-size: 35px;
    padding: 5px 10px;
    font-weight: 800;
}

.box:hover {
    background-color: rgb(163, 9, 9);
}

@media screen and (max-width:768px) {
    .box span{
        font-size: 20px;
    }
}
@media screen and (max-width:425px) {
    .box {
        display: flex;
        align-items: center;
        justify-content: center;   
    }

    .box span {
        font-size: 15px;
    }
}