.invisiblecarousel-con {
    padding: 1rem 4rem;
}

.invisiblecarousel-con img {
    filter: grayscale(0%);
    transition: filter 0.5s;
}

.invisiblecarousel-con img:hover { 
    filter: grayscale(100%);
}

@media screen and (max-width:425px) {
    .invisiblecarousel-con {
        padding: 1rem 2rem;
    }
}