.col-right {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    gap: 1rem;
}

.col-right img {
    height: 40vh;
    width: 300px;
    border-top: 4px solid red;
}

.col-right .calender {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    gap: 15px;
    height: 30px;
}

.col-right .calender span{
    font-size: x-small;
}

@media screen and (max-width:1024px) {
    .col-right img {
        height: 20vh;
        width: 300px;
    } 
}

@media screen and (max-width:768px) {
    .col-right {
        display: none;
    }
}